@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <div class="col-md-12">
        <h1>Sample  Appliction to Read Passport Information  <br /> Verify through AI </h1>
        
    </div>
    
</div>
